<h1>Please create your character</h1>




<form action="/createcharacter" method="post">
  <p>First, choose your character's name:</p>
    <input name="char_name" value="" />

  <p>Next, choose their race and class:</p>

  <p>Race:</p>
  <div>
    <input type="radio" name="char_race" value="Dragonborn">Dragonborn<br>
    <input type="radio" name="char_race" value="Dwarf">Dwarf<br>
    <input type="radio" name="char_race" value="Elf">Elf<br>
    <input type="radio" name="char_race" value="Gnome">Gnome<br>
    <input type="radio" name="char_race" value="Half-Elf">Half-Elf<br>
    <input type="radio" name="char_race" value="Half-Orc">Half-Orc<br>
    <input type="radio" name="char_race" value="Halfling">Halfling<br>
    <input type="radio" name="char_race" value="Human">Human<br>
    <input type="radio" name="char_race" value="Tiefling">Tiefling<br>
  </div>

  <p>Class:</p>
  <div>
    <input type="radio" name="char_class" value="Barbarian">Barbarian<br>
    <input type="radio" name="char_class" value="Bard">Bard<br>
    <input type="radio" name="char_class" value="Cleric">Cleric<br>
    <input type="radio" name="char_class" value="Druid">Druid<br>
    <input type="radio" name="char_class" value="Fighter">Fighter<br>
    <input type="radio" name="char_class" value="Monk">Monk<br>
    <input type="radio" name="char_class" value="Paladin">Paladin<br>
    <input type="radio" name="char_class" value="Ranger">Ranger<br>
    <input type="radio" name="char_class" value="Rogue">Rogue<br>
    <input type="radio" name="char_class" value="Sorcerer">Sorcerer<br>
    <input type="radio" name="char_class" value="Warlock">Warlock<br>
    <input type="radio" name="char_class" value="Wizard">Wizard<br>
  </div>

  <p><button type="submit">Submit</button><p>

</form>