<p><a href="/">Back to character sheet</a></p>

<table class="padding_header">
  <tr>
    <td><img class="dice" src="/images/d4.jpg"></td>
    <td><img class="dice" src="/images/d6.jpg"></td>
    <td><img class="dice" src="/images/d8.jpg"> </td>
  </tr>
  <tr>

    <td>
      <form method="get" action="/roll">
      <input type="hidden" name="sides" value="4" />
        <div>
          <label for="dicenumber">Dice:</label>
          <input name="dicenumber" value=1 id="textbox" />
        </div>
        <div>
          <label for="modifier">Modifier +</label>
          <input name="modifier" value=0 id="textbox" />
        </div>
        <button type="submit">Roll</button>
    </form>
    </td>

    <td>
      <form method="get" action="/roll">
      <input type="hidden" name="sides" value="6" />
        <div>
          <label for="dicenumber">Dice:</label>
          <input name="dicenumber" value=1 id="textbox" />
        </div>
        <div>
          <label for="modifier">Modifier +</label>
          <input name="modifier" value=0 id="textbox"/>
        </div>
        <button type="submit">Roll</button>
      </form>
    </td>

    <td>
      <form method="get" action="/roll">
      <input type="hidden" name="sides" value="8" />
        <div>
          <label for="dicenumber">Dice:</label>
          <input name="dicenumber" value=1 id="textbox" />
        </div>
        <div>
          <label for="modifier">Modifier +</label>
          <input name="modifier" value=0 id="textbox" />
        </div>
        <button type="submit">Roll</button>
      </form>
    </td>

  </tr>

    <tr>
    <td><img class="dice" src="/images/d10.jpg"></td>
    <td><img class="dice" src="/images/d12.jpg"></td>
    <td><img class="dice" src="/images/d20.jpg"> </td>
  </tr>
  <tr>

    <td>
      <form method="get" action="/roll">
      <input type="hidden" name="sides" value="10" />
        <div>
          <label for="dicenumber">Dice:</label>
          <input name="dicenumber" value=1 id="textbox" />
        </div>
        <div>
          <label for="modifier">Modifier +</label>
          <input name="modifier" value=0 id="textbox" />
        </div>
        <button type="submit">Roll</button>
    </form>
    </td>

    <td>
      <form method="get" action="/roll">
      <input type="hidden" name="sides" value="12" />
        <div>
          <label for="dicenumber">Dice:</label>
          <input name="dicenumber" value=1 id="textbox" />
        </div>
        <div>
          <label for="modifier">Modifier +</label>
          <input name="modifier" value=0 id="textbox"/>
        </div>
        <button type="submit">Roll</button>
      </form>
    </td>

    <td>
      <form method="get" action="/roll">
      <input type="hidden" name="sides" value="20" />
        <div>
          <label for="dicenumber">Dice:</label>
          <input name="dicenumber" value=1 id="textbox" />
        </div>
        <div>
          <label for="modifier">Modifier +</label>
          <input name="modifier" value=0 id="textbox" />
        </div>
        <button type="submit">Roll</button>
      </form>
    </td>

  </tr>
</table>

<!--<div class="inline">-->
<!--    <form style="display: inline;" method="get" action="/roll">-->
<!--      <img class="dice" src="/images/d4.jpg">-->
<!--      <input type="hidden" name="sides" value="4" />-->
<!--        <div>-->
<!--          <label for="dicenumber">Dice:</label>-->
<!--          <input name="dicenumber" value=1 id="textbox" />-->
<!--        </div>-->
<!--        <div>-->
<!--          <label for="modifier">Modifier +</label>-->
<!--          <input name="modifier" value=0 id="textbox" />-->
<!--        </div>-->
<!--        <button type="submit">Roll</button>-->
<!--    </form>-->

<!--  <img class="dice" src="/images/d6.jpg">-->

<!--  <form method="get" action="/roll">-->
<!--  <input type="hidden" name="sides" value="6" />-->
<!--    <div>-->
<!--      <label for="dicenumber">Dice:</label>-->
<!--      <input name="dicenumber" value=1 id="textbox" />-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="modifier">Modifier +</label>-->
<!--      <input name="modifier" value=0 id="textbox"/>-->
<!--    </div>-->
<!--    <button type="submit">Roll</button>-->
<!--  </form>-->

<!--  <img class="dice" src="/images/d8.jpg">-->

<!--  <form method="get" action="/roll">-->
<!--  <input type="hidden" name="sides" value="8" />-->
<!--    <div>-->
<!--      <label for="dicenumber">Dice:</label>-->
<!--      <input name="dicenumber" value=1 id="textbox" />-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="modifier">Modifier +</label>-->
<!--      <input name="modifier" value=0 id="textbox" />-->
<!--    </div>-->
<!--    <button type="submit">Roll</button>-->
<!--  </form>-->

  <!--<img class="dice" src="/images/d10.jpg">-->

  <!--<form method="get" action="/roll">-->
  <!--<input type="hidden" name="sides" value="10" />-->
  <!--  <div>-->
  <!--    <label for="dicenumber">Dice:</label>-->
  <!--    <input name="dicenumber" value=1 id="textbox" />-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <label for="modifier">Modifier +</label>-->
  <!--    <input name="modifier" value=0 id="textbox" />-->
  <!--  </div>-->
  <!--  <button type="submit">Roll</button>-->
  <!--</form>-->

  <!--<img class="dice" src="/images/d12.jpg">-->

  <!--<form method="get" action="/roll">-->
  <!--<input type="hidden" name="sides" value="12" />-->
  <!--  <div>-->
  <!--    <label for="dicenumber">Dice:</label>-->
  <!--    <input name="dicenumber" value=1 id="textbox" />-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <label for="modifier">Modifier +</label>-->
  <!--    <input name="modifier" value=0 id="textbox" />-->
  <!--  </div>-->
  <!--  <button type="submit">Roll</button>-->
  <!--</form>-->

  <!--<img class="dice" src="/images/d20.jpg">-->

  <!--<form method="get" action="/roll">-->
  <!--<input type="hidden" name="sides" value="20" />-->
  <!--  <div>-->
  <!--    <label for="dicenumber">Dice:</label>-->
  <!--    <input name="dicenumber" value=1 id="textbox" />-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <label for="modifier">Modifier +</label>-->
  <!--    <input name="modifier" value=0 id="textbox" />-->
  <!--  </div>-->
  <!--  <button type="submit">Roll</button>-->
  <!--</form>-->
</div>

