<h1>Nick's DnD Character Sheets</h1>

<form method="post" action="/users/signin">
  <div>
    <label for="username"> Username:
      <input name="username" value="<%= params[:username] %>" />
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="password" label="Password:" name="password" />
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>

<p><em><a href="/users/new">Create an account</a></em></p>